* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pacifico',cursive,'comic sans ms';
}
header {text-align: center;
    a{
    color: beige;
} 
    background-color:rgb(74,34,6);    
    margin-bottom: 10px;
                
    padding: 10px ;
    box-shadow: 0px 5px 15px rgb(248, 244, 244);
    margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px light brown;
    font-style: italic;
    font-family: 'pacifico',cursive,'comic sans ms';
    a:hover {
        color:olivedrab;
    }
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0px 5px 15px rgba(81, 119, 77, 0.998);
}
.gallery img:hover {
    transform: scale(1.05);
}
#portfolio{
    h1{padding: 10px;
        margin: 15px;
        color: rgb(102, 129, 107);
        text-align: center;
        font-size: 36px;
    }
}

body{
    background-color: beige;
}
