* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family:'pacifico',cursive,'comic sans ms';
    overflow-x: hidden;
}

.container {
    display: flex;
    height: 100%;
}

.left-side {
    background-color:beige ; /* Chocolate brown color */
    width: 70%;
}
.left-side h1{
    font-size: 70px;
    font-family: 'pacifico',cursive,'comic sans ms';
    position: relative;
    top: 250px;
    right: 150px; 
    color: rgb(73,34,6);
}
.left-side h2{
    font-size: 35px;
    font-family: 'pacifico',cursive,'comic sans ms';
    position: relative;
    top: 250px;
    left: 150px;
    color: rgb(46, 95, 42);
}

.right-side {
    background-color: rgb(73, 34, 6); 
    width: 30%;
    position: relative;
}
.right-side a{
    font-size: 36px;
    font-family:'pacifico',cursive,'comic sans ms';
    position: relative;
    top: 800px;
    left: 250px;
    color: beige;

}
.right-side h3{
    font-size: 40px;
    font-family: 'pacifico',cursive,'comic sans ms';
    color: beige;
    position: relative;
    top: 100px;
    left: 40px;
}
.heading {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: large;
    color: black;
}
.image{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    max-width: 120%; /* Adjust this size according to your preference */
    height:50;
}
