body{background-image: url(newback1.jpg);
    p{text-align: center;
        margin-top: 20px;
        padding: 5px;
        #home{color: azure;
        display: block;
        font-size: 46px;     

        margin-inline-start: 28%;
        margin-inline-end: 28%;
        font-weight: bold;
        transition: transform 0.3s ease;
        border: solid beige ;
        border-radius: 100px;
        text-decoration:unset;
        
       } 
    }
    p a:hover{
        transform: scale(1.03);
    }
    h1{color: gray;
        letter-spacing: 20px;
        text-align: center;
           font-size: 56px;
           text-decoration: underline;
        margin-top: 140px;
        margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    h3{margin-top: 5px;}
        
    }
    h2{
        color: azure;
        text-align: center;
        margin-top: 80px;
        font-family: cursive;
    }
h3{
    text-align: center;
    font-size: 24px;
    font-family: cursive;
    margin: 5px;
    color: azure;
}
    
}

